body
{
    background-color:#B3C8CF;
    image{width: 300;height: 300;
        border-image-width: 0%;}
}
h1{color:#07caf1;}
h1{text-align: center;}
h2{color:#F1EEDC ;}
h2{text-align: center;}
h3{color:#E5DDC5;}
h3{text-align: center;}
