body
{
    background-color:#80BCBD ;
    image{width: 300;height: 300;
        border-image-width: 0%;}
    
}
h1{color:#024019 ;}
h1{text-align: center;}
h2{color:#D5F0C1  ;}
h2{text-align: center;}
h3{color:#F9F7C9 ;}
h3{text-align: center;}